/*
	Theme Name: ESTMAK
	Theme URI: http://reaktiiv.ee
	Author: Reaktiiv
*/

/*------------------------------------*\
    MAIN
\*------------------------------------*/

/* global box-sizing */
*,
*:after,
*:before {
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	-webkit-font-smoothing:antialiased;
	font-smoothing:antialiased;
	text-rendering:optimizeLegibility;
}


/* clear */
.clear:before,
.clear:after {
    content:' ';
    display:table;
}

.clear:after {
    clear:both;
}
.clear {
    *zoom:1;
}
img {
	max-width:100%;
	vertical-align:bottom;
}
a {
	color:#444;
	text-decoration:none;
}
a:hover {
	color:#444;
}
a:focus {
	outline:0;
}
a:hover,
a:active {
	outline:0;
}
input:focus {
	outline:0;
	border:1px solid #04A4CC;
}

/*------------------------------------*\
    STRUCTURE
\*------------------------------------*/


@font-face {
    font-family: "SpectralSC-Bold";
	src: url("../ESTMAK/fonts/SpectralSC/SpectralSC-Bold.ttf") format("ttf"),
		 url("../ESTMAK/fonts/SpectralSC/SpectralSC-Bold.woff") format("woff"),
		 url("../ESTMAK/fonts/SpectralSC/SpectralSC-Bold.eot") format("eot"),
		 url("../ESTMAK/fonts/SpectralSC/SpectralSC-Bold.svg") format("svg");
}

@font-face {
    font-family: "Gotham-Medium";
	src: url("../ESTMAK/fonts/Gotham/Gotham-Medium.ttf") format("ttf"),
		 url("../ESTMAK/fonts/Gotham/Gotham-Medium.woff") format("woff"),
		 url("../ESTMAK/fonts/Gotham/Gotham-Medium.otf") format("otf"),
		 url("../ESTMAK/fonts/Gotham/Gotham-Medium.eot") format("eot"),
		 url("../ESTMAK/fonts/Gotham/Gotham-Medium.svg") format("svg");
}

@font-face {
    font-family: "Gotham-Book";
	src: url("../ESTMAK/fonts/Gotham/Gotham-Book.ttf") format("ttf"),
		 url("../ESTMAK/fonts/Gotham/Gotham-Book.woff") format("woff"),
		 url("../ESTMAK/fonts/Gotham/Gotham-Book.otf") format("otf"),
		 url("../ESTMAK/fonts/Gotham/Gotham-Book.eot") format("eot"),
		 url("../ESTMAK/fonts/Gotham/Gotham-Book.svg") format("svg");
}

html, body {
	margin: 0;
	font-size: 16px;
}

header,
section,
footer {
	max-width: 1875px;
	width: 98%;
	margin: 0 auto;
}

h1 {
	color: #242e34;
	font-size: 250%;
	text-align: center;
	margin: 70px 0;
	font-family: "SpectralSC-Bold", arial, serif;
}

h2 {
	color: #242e34;
	margin: 0;
	font-size: 190%;
	line-height: 100%;
	font-family: "SpectralSC-Bold", arial, serif;
}

h3 {
	color: #fff;
	font-size: 100%;
	line-height: 100%;
	font-family: "Gotham-Medium", arial, sans-serif;
	text-transform: uppercase;
	font-weight: normal;
}

p {
	font-family: "Gotham-Book", arial, sans-serif;
}

span,
a {
	color: #9e704b;
	font-family: "Gotham-Medium", arial, sans-serif;
	letter-spacing: 2px;
}

a {
	cursor: pointer;
}

ul,
li {
	list-style-type: none;
}

img {
	max-width: 100%;
}

.hidden {
	display: none;
}

header {
	height: 100vh;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	margin-top: 1%;
}

header .logo {
	position: absolute;
	top: 100px;
    right: 0;
    left: 0;
	width: 100%;
	max-width: 300px;
	height: 149px;
	transition: top .3s ease-in-out;
	margin: 0 auto;
	z-index: 5;
	white-space: nowrap;
}

header.scroll .logo {
	position: fixed;
	top: 0;
}

header .logo a {
	vertical-align: middle;
    display: inline-block;
}


header h1 {
	font-size: 258%;
	color: #fff;
	line-height: 110%;
	margin: 300px 0 100px;
}

header nav li a {
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 5px;
}

header nav li a:hover {
	color: #9e704b;
}

#topnav {
	position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
	max-height: 0;
	height: 100%;
	display: flex;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
    justify-content: space-between;
    max-width: 1873px;
    width: 98%;
    overflow: hidden;
    background-color: #474f53;
    transition: all .3s ease-in-out;
    z-index: 4;
}

header.scroll #topnav {
	max-height: 149px;
}

header.scroll .logo_helper {
	display: inline-block;
    height: 100%;
    vertical-align: middle;
}

#topnav_left,
#topnav_right {
	width: 40%;
	margin: 60px 0;
}

#topnav ul {
	display: flex;
	display: -webkit-box;
  	display: -webkit-flex;
  	display: -ms-flexbox;
    justify-content: space-around;
    flex-direction: row;
	flex-wrap: wrap;

	padding: 0;
	margin: 0;
}

#sidenav {
	position: absolute;
    top: 50%;
	left: 5%;
	transform: translateX(-50%) translateY(-50%) rotate(-90deg);
	transition: all .3s ease-in-out;
}
header.scroll #sidenav {
	left: -5%;
}

#sidenav .menu {
	display: flex;
	display: -webkit-box;
  	display: -webkit-flex;
  	display: -ms-flexbox;
	justify-content: center;
	-webkit-justify-content: center;
}

#sidenav .menu li {
	position: relative;
	margin-right: 65px;
}

#sidenav .menu li:after {
	content: "";
    display: block;
    position: absolute;
    right: -45px;
    top: 45%;
    height: 3px;
    width: 30px;
    background-color: #fff;
}

#sidenav .menu li:last-child {
	margin: 0;
}

#sidenav .menu li:last-child:after {
	display: none;
}

.scroll_down_arrow {
	position: absolute;
    bottom: 30px;
    left: 0;
	right: 0;
	text-align: center;
	transition: all .3s ease-in-out;
}

.scroll_down_arrow.hovered {
	bottom: 40px;
}

.scroll_down_arrow img {
	padding: 10px;
	cursor: pointer;
}

.mobile-menu-btn {
	display: none;
}

#our_story {
	position: relative;
	display: inline-block;
	width: 100%;
	background-image: url("../ESTMAK/img/our_story_background.png");
	background-size: cover;
	background-repeat: no-repeat;
	text-align: center;
	z-index: -1;
}

#our_story p {
	margin: 150px auto;
	color: #fff;
	max-width: 1200px;
	width: 70%;
}

.our_story_logo {
	position: absolute;
    left: 9%;
	height: 100%;
	z-index: -1;
}

.our_story_logo .logo_helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.our_story_logo img {
	vertical-align: middle;
}

.our_story_title {
	position: absolute;
    top: 50%;
	left: 5%;
	transform: translateX(-50%) translateY(-50%) rotate(-90deg);
}

#projects {
	margin-top: 150px;
}

#developments {
	margin-top: 100px;
}

.projects_container {
	display: flex;
	display: -webkit-box;
  	display: -webkit-flex;
  	display: -ms-flexbox;
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	flex-direction: row;
	-webkit-flex-direction: row;
	justify-content: space-between;
	-webkit-justify-content: space-between;
	-ms-flex-pack: space-between;
	width: 87%;
    margin: 0 auto;
}

.projects_container:after {
	content: "";
    display: block;
    height: 1px;
	max-width: 748px;
    width: 42%;
}

.single_project {
	max-width: 748px;
	width: 47%;
	margin-bottom: 75px;
}

.project_title_area {
	display: flex;
	display: -webkit-box;
  	display: -webkit-flex;
 	display: -ms-flexbox;
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	flex-direction: row;
	-webkit-flex-direction: row;
	justify-content: space-between;
	-webkit-justify-content: space-between;
	-ms-flex-pack: space-between;
	margin: 30px 0;
}

.project_title_area span{
	margin-top: 10px;
}

.project_info {
	margin-top: 20px;
	font-size: 90%;
}

.project_info span:first-child {
	position: relative;
	margin-right: 40px;
	text-transform: uppercase;
}

.project_info span:first-child::after {
	content: "";
    display: block;
    position: absolute;
    right: -34px;
    top: 45%;
    height: 3px;
    width: 20px;
    background-color: #9e704b;
}

footer {
	display: flex;
	display: -webkit-box;
  	display: -webkit-flex;
  	display: -ms-flexbox;
    flex-direction: row;
    flex-wrap: wrap;
	justify-content: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	align-items: center;
	-webkit-align-content: center;
	margin: 50px auto 125px;
}

footer img {
	margin-right: 60px;
}

footer span {
	position: relative;
	margin-right: 65px;
	font-size: 90%;
	text-transform: uppercase;
}

.footer_info span::after {
	content: "";
    display: block;
    position: absolute;
    right: -45px;
    top: 45%;
    height: 3px;
    width: 20px;
    background-color: #9e704b;
}

footer span:last-child {
	margin-right: 0;
}

.footer_info span:last-child::after {
    display: none;
}