@media only screen and (min-width: 1250px) and (max-height: 700) {
    #sidenav {display: none;}
}

@media only screen and (max-width: 1250px) and (max-height: 650px) {
    #sidenav {display: none;}
}

@media only screen and (max-width: 1600px) {
    header .logo {
        width: 20%;
    }

    .our_story_logo {
        left: 6%;
    }

    .our_story_logo img {
        width: 175px;
    }
}

@media only screen and (max-width: 1250px) {
    body {
        font-size: 14px;
    }

    h1 {
        margin: 25px 0;
    }

    header .logo {
        height: 139px;
    }

    header.scroll #topnav {
        max-height: 139px;
    }

    header nav li a {
        letter-spacing: 2px;
    }

    .our_story_logo img {
        width: 150px;
    }

    #our_story p {
        margin: 125px auto;
    }

    #projects {
        margin-top: 100px;
    }

    .single_project {
        margin-bottom: 25px;
    }

    #developments {
        margin-top: 75px;
    }
}

@media only screen and (max-width: 1100px) {
    footer {
        flex-direction: column-reverse;
        margin: 50px auto 20px;
    }

    footer img {
        margin: 15px 0;
    }

    footer .footer_info {
        display: flex;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
	    -webkit-justify-content: center;
	    -ms-flex-pack: center;
    }

    footer span {
        margin-bottom: 5px;
    }

    .footer_info span:nth-child(2)::after {
        display: none;
    }
}

@media only screen and (max-width: 950px) {
    header h1 {
        width: 80%;
        margin: 300px auto 100px;
    }
}

@media only screen and (max-width: 780px) {
    #topnav {
        width: 100%;
        flex-direction: column;
        justify-content: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
    }

    #topnav.active {
        max-height: 100%;
    }

    #sidenav {
        display: none;
    }

    header.activeMenu #topnav {
        justify-content: center;
        flex-direction: column;
        -webkit-flex-direction: column;
        flex-wrap: wrap;
        overflow: unset;
        height: 100%;
        max-height: 100%;
    }

    #topnav_left, #topnav_right {
        width: 100%;
        margin: 0 auto;
    }

    #topnav ul {
        flex-direction: column;

        align-items: center;
    }

    #topnav ul li {
        display: inline-block;
    }

    header nav li a {
        display: inline-block;
        margin: 5px 10px;
        font-size: 150%;
    }

    header .logo {
        position: relative;
        top: auto;
        margin: 50px auto 75px;
        height: auto;
        width: 250px;
        z-index: 3;
    }

    header h1 {
        margin: 0 auto;
        font-size: 200%;
    }

    header h1 br {
        display: none;
    }

    .mobile-menu-btn {
        display: block;
        z-index: 5;
        cursor: pointer;
        position: fixed;
        top: 1.5%;
        right: 3%;
        width: 44px;
        height: 44px;
        padding: 0;
        border: 0;
        background: none;
        background-color: #474f53;
        border-radius: 0;
    }

    .mobile-menu-btn span {
        position: absolute;
        right: 9px;
        left: 9px;
        height: 2px;
        background: #fff;
        -webkit-transition: all 200ms ease;
        transition: all 200ms ease;
        -webkit-transform-origin: center;
        transform-origin: center;
    }

    .mobile-menu-btn span:nth-child(1) {
        top: 13px;
    }

    .mobile-menu-btn span:nth-child(2) {
        top: 50%;
        -webkit-transform: translateY(-1px);
        transform: translateY(-1px);
    }

    .mobile-menu-btn span:nth-child(3) {
        bottom: 13px;
    }

    .mobile-menu-btn.active span:nth-child(1) {
        top: 50%;
        -webkit-transform: rotate(45deg) translateY(-50%);
        transform: rotate(45deg) translateY(-50%);
    }

    .mobile-menu-btn.active span:nth-child(2) {
        opacity: 0;
    }

    .mobile-menu-btn.active span:nth-child(3) {
        bottom: 50%;
    -webkit-transform: rotate(-45deg) translateY(50%);
    transform: rotate(-45deg) translateY(50%);
    }

    .single_project {
        width: 100%;
    }
}

@media only screen and (max-width: 650px) {
    footer span {
        text-align: center;
        width: 100%;
        margin: 2px 0;
    }

    footer .footer_info span::after {
        display: none;
    }
}

@media only screen and (max-width: 550px) {
    h2 {
        width: 100%;
        text-align: center;
    }

    .project_title_area {
        margin: 15px 0 10px;
    }

    .project_title_area span {
        width: 100%;
        text-align: end;
        margin-top: 5px;
    }

    .project_info {
        margin-top: 10px;
    }

    .single_project .project_info span {
        display: block;
        width: 100%;
        margin: 0;
        text-align: center;
    }

    .single_project .project_info span::after {
        display: none;
    }
}

@media only screen and (max-width: 350px) {
    h1 {
        margin: 25px 0 0;
        font-size: 200%;
    }

    h2 {
        font-size: 150%;
    }

    header .logo {
        width: 200px;
    }
}